@import "common.scss";
@import "_mixin.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

section {
    width: 100%;
    flex: 1;
    .wang {
        width: 100%;
        height: 50%;
        @include box_flex;
        @include justify(center);
        @include align;
        img {
            width: pxTorem(100px);
            height: pxTorem(100px);
        }
    }
    .but {
        width: 100%;
        @include box_flex;
        @include justify(center);
        @include direction(column);
        @include align;
        button {
            width: 70%;
            height: pxTorem(35px);
            @include box_flex;
            @include justify(center);
            @include align;
            margin-bottom: pxTorem(15px);
            border-radius: pxTorem(20px);
            border: pxTorem(1px) solid red;
            color: red;
            background: #fff;
            font-size: pxTorem(16px);
        }
        a {
            color: #666;
            font-size: pxTorem(14px);
        }
    }
}

footer {
    width: 100%;
    height: pxTorem(100px);
    @include box_flex;
    @include direction(column);
    .bottom {
        width: 100%;
        @include box_flex;
        @include justify(center);
        @include align;
        >div {
            width: 80%;
            height: pxTorem(1px);
            border-bottom: pxTorem(1px) solid #ccc;
            @include box_flex;
            @include justify(center);
            @include align;
            p {
                background: #fff;
            }
        }
    }
    .dls {
        width: 100%;
        flex: 1;
        @include box_flex;
        @include justify(space-around);
        @include align;
        dl {
            @include box_flex;
            @include justify(center);
            @include direction(column);
            @include align;
            dt {
                width: pxTorem(30px);
                height: pxTorem(30px);
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}